In [1]:
import pandas as pd
import sqlite3

In [5]:
df= pd.DataFrame({'name': ['Sasha', 'Dima'], 'age': [9,11]})
df

    name  age
0  Sasha    9
1   Dima   11

In [2]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS 
Users (
id INTEGER PRIMARY KEY,
username TEXT NOT NULL,
email TEXT NOT NULL,
age INTEGER       
)
''')
connection.commit()
connection.close()

In [19]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()


cursor.execute('INSERT INTO Users (username, email, age) VALUES (?, ?, ?)', ('Julia', 'Julia-g@gmail.com', 1))
cursor.execute('UPDATE Users SET age = ? WHERE username = ?', (25, 'Olga'))
#cursor.execute('DELETE FROM Users WHERE username = ?', ('newuser',))

connection.commit()
connection.close()

Запросы:

In [20]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('SELECT * FROM Users')
users = cursor.fetchall()

for user in users:
  print(user)

connection.close()

(5, 'Dima', 'Dima-g@gmail.com', 28)
(6, 'Olga', 'Olga-g@gmail.com', 25)
(7, 'Dasha', 'Dasha-g@gmail.com', 5)
(8, 'Julia', 'Julia-g@gmail.com', 1)

In [21]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()


cursor.execute('SELECT username, age FROM Users WHERE age > ?', (24,))
results = cursor.fetchall()

for row in results:
  print(row)

connection.close()

('Dima', 28)
('Olga', 25)

In [22]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()


cursor.execute('SELECT age, AVG(age) FROM Users GROUP BY age')
results = cursor.fetchall()

for row in results:
  print(row)
  

cursor.execute('SELECT age, AVG(age) FROM Users GROUP BY age HAVING AVG(age) > ?', (10,))
filtered_results = cursor.fetchall()
for row in filtered_results:
  print(row)

connection.close()

(1, 1.0)
(5, 5.0)
(25, 25.0)
(28, 28.0)
(25, 25.0)
(28, 28.0)

In [23]:

connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()


cursor.execute('SELECT username, age FROM Users ORDER BY age DESC')
results = cursor.fetchall()

for row in results:
  print(row)

connection.close()

('Dima', 28)
('Olga', 25)
('Dasha', 5)
('Julia', 1)

In [27]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('''
SELECT username, age, AVG(age)
FROM Users
GROUP BY age
HAVING AVG(age) > ?
ORDER BY age DESC
''', (4,))
results = cursor.fetchall()

for row in results:
  print(row)

connection.close()

('Dima', 28, 28.0)
('Olga', 25, 25.0)
('Dasha', 5, 5.0)

In [28]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('SELECT COUNT(*) FROM Users')
total_users = cursor.fetchone()[0]

print('Общее количество пользователей:', total_users)
connection.close()

Общее количество пользователей: 4

In [29]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('SELECT SUM(age) FROM Users')
total_age = cursor.fetchone()[0]

print('Общая сумма возрастов пользователей:', total_age)
connection.close()

Общая сумма возрастов пользователей: 59

In [30]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('SELECT AVG(age) FROM Users')
average_age = cursor.fetchone()[0]

print('Средний возраст пользователей:', average_age)
connection.close()

Средний возраст пользователей: 14.75

In [31]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('SELECT MIN(age) FROM Users')
min_age = cursor.fetchone()[0]

print('Минимальный возраст среди пользователей:', min_age)
connection.close()

Минимальный возраст среди пользователей: 1

In [32]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()


cursor.execute('''
SELECT username, age
FROM Users
WHERE age = (SELECT MAX(age) FROM Users)
''')
oldest_users = cursor.fetchall()

for user in oldest_users:
  print(user)
  
connection.close()

('Dima', 28)

In [33]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('SELECT * FROM Users')
users = cursor.fetchall()

for user in users:
  print(user)
  
connection.close()

(5, 'Dima', 'Dima-g@gmail.com', 28)
(6, 'Olga', 'Olga-g@gmail.com', 25)
(7, 'Dasha', 'Dasha-g@gmail.com', 5)
(8, 'Julia', 'Julia-g@gmail.com', 1)

In [34]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()


cursor.execute('SELECT * FROM Users')
first_user = cursor.fetchone()
print(first_user)


cursor.execute('SELECT * FROM Users')
first_3_users = cursor.fetchmany(3)
print(first_3_users)


cursor.execute('SELECT * FROM Users')
all_users = cursor.fetchall()
print(all_users)

connection.close()

(5, 'Dima', 'Dima-g@gmail.com', 28)
[(5, 'Dima', 'Dima-g@gmail.com', 28), (6, 'Olga', 'Olga-g@gmail.com', 25), (7, 'Dasha', 'Dasha-g@gmail.com', 5)]
[(5, 'Dima', 'Dima-g@gmail.com', 28), (6, 'Olga', 'Olga-g@gmail.com', 25), (7, 'Dasha', 'Dasha-g@gmail.com', 5), (8, 'Julia', 'Julia-g@gmail.com', 1)]

In [36]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

cursor.execute('SELECT * FROM Users')
users = cursor.fetchall()

users_list = []
for user in users:
  user_dict = {
    'id': user[0],
    'username': user[1],
    'email': user[2],
    'age': user[3]
  }
users_list.append(user_dict)

for user in users_list:
  print(user)
connection.close()

{'id': 8, 'username': 'Julia', 'email': 'Julia-g@gmail.com', 'age': 1}

Подготовленные запросы:

In [38]:
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()

query = 'SELECT * FROM Users WHERE age > ?'
cursor.execute(query, (25,))
users = cursor.fetchall()

for user in users:
  print(user)
  
connection.close()

(5, 'Dima', 'Dima-g@gmail.com', 28)